@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/* pour supprimer les marges par defaut de la page important */
*{
    margin: 0; 
    padding: 0;
    
}
body{
    background-color: #1f2438;
}

.color_text{
    color: #EF6526;
    font-size: xx-large;
    font-weight: bolder;
    
}
.color_text1{
    color: #EF6526;
    font-size: large;
    font-weight: bolder;
  
}
.bgcolor{
    background-color: #EF6526;
    color: white;
}
.bgbleu{
    background-color: #1f2438;
    color: white;
}
#header{
    background-color: #1f2438;
    height: 15vh;
    position: relative;
    color: #ffffff;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#header ul{
    list-style: none;
    display: flex;
   
}
#header li{
    padding: 15px;
}
.logo{
    font-size: xx-large;
}
/* end styling header */

#hero{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#hero img{
    position: relative;
    width: 100%;
}
/* hero image  */

.card{
    position: absolute;
    margin-top: -60%;
    color: #EF6526;
    display: flex;
    width: 20%;
    height: 40%;
    margin-left: 40%;
    text-align: center;
    justify-content: center;
    border: 3px solid white;
    border-radius: 8px;
    font-size: large;
    font-style: italic;
}

.card h2{
    border: 3px solid white;
    border-radius: 8px;
    width: 80%;
    height: 80%;
    margin-bottom: -20%;
    margin-top: 12%;
}

/* card on hero design done */

#hero P{
    margin-top: -25%;
    color: white;
    position: absolute;
    text-align: center;
}

/* groupe one start */

.group_one{
   
    width: 100%;
    margin-bottom: 15vh;
    /* position: relative; */
  
}

.group1{
    width: 70%;
    position: relative;
    display: flex;
    margin-left: 20%;
    margin-top: -2%;
    border: 3px solid white;
    color: white;
    border-radius: 5px;
    flex-direction: column;
    box-sizing: border-box;
    /* padding: 5vh; */
    padding-bottom: 5vh;
}

.g1hero{
    background-image: url("fityah/arisa-chattasa-HZbqhd5aK3I-unsplash.jpg");
    opacity: 0.7;
    width: 100%;
    height: 300px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    box-sizing: border-box;
}
.click{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    
    
}
button{
    width: 20vh;
    height: 5vh;
    margin: 10px;
    border: none;
    border-radius: 2px;
    text-transform: capitalize;
}

.click p{
    margin: 10px;
    margin-top: -20%;
    margin-left: 20%;
    width: 15%;
    font-size: xx-large;   
    /* faire un media queries sur mobile pour le font-size */
    border: 1px solid white;
    border-radius: 100%;
    padding: 5%;
    position: relative;
    text-align: center;
    justify-content: center;
}

.picture{
    position: relative;
    margin: 10vh;
}
.picture_grid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 3vh;
    position: relative;
    box-sizing: border-box;
  
}
.picture_grid img{
    width: auto;
    width: 40vh;
    box-sizing: border-box;
    
   
}

/* write number on the picture start */
.picture_number{
    position: relative;
    margin: 2px;
}
.number{
    margin-left: -80%;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    justify-content: center;
}

.number_descr{
    margin-top: -65%;
    margin-left: 30%;
    position: absolute;
    font-size: large;
    text-align: center;
    justify-content: center;
    padding: 5px;
}

/* write number on the picture end */

/* making ligne vertical and horizontal on the image start */
.lign{
    width: 36%;
    margin-left: 30%;
    position: relative;
    top: -27vh;
   
}
.vertical{
    position: relative;
    left: 17%;
    top: 6vh;
    
}
.lign2{
    width: 51%;
    margin-left: 13%;
    position: relative;
    top: -27vh;
   
}

.vertical2{
    position: relative;
    right: 39%;
    bottom: 29vh;
    
}
/* making ligne vertical and horizontal on the image end */

/* coach session start */
.coach{
    background-image: url("fityah/tobias-nii-kwatei-quartey-2-kfBa27AyU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
   
}

.coach_card img{
    width: 4vh;
    border-radius: 4px;
    
}
.coach_card{
    padding: 2vh;
    border-radius: 2px;
    position: relative;
    background-color: #1f2438;
    opacity: 0.8;
}
.coach{
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding: 20vh;
}

/* coach session end */

/* any picture session unlist pic start */
.picture_grid2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 3vh;
    position: relative;
    box-sizing: border-box;
    padding: 5vh;
  
}
.picture_grid2 img{
    width: auto;
    width: 40vh;
    box-sizing: border-box;
    
}
.picture2{
    padding: 5vh;
    text-align: center;
}
/* any picture session unlist pic end */

.bodyimg{
    height: 100vh;
    width: 100%; 
}

.detail{
    background-image: url("fityah/cathy-pham-3jAN9InapQI-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20vh;
}

table th{
    border: 1px solid white;
}

.plus{
    margin: 25vh;
}

.plus h2{
    color: #EF6526;
    margin-bottom: 5vh;
}

.plus p{
    margin-left: 98vh;
    color: #EF6526;
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 1rem;
}

.group_two h1{
    color: #EF6526;
    margin-left: 20%;
    margin-bottom: 10rem;
    margin-top: 5%;
    font-size: larger;
    font-weight: bolder;
}


.group2{
    width: 70%;
    position: relative;
    display: flex;
    margin-left: 20%;
    border: 3px solid white;
    color: white;
    border-radius: 5px;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 5vh;
}


